@page
@model PrivacyModel 
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
    <p>For more information, see the <a href="https://go.microsoft.com/fwlink/?LinkID=521839">official Microsoft documentation</a>.</p>
</div>
 